<% include ../partials/header %>

    <h1>
        This is the show list for <%= list.name %>
        <div class="float-right">
            <a href="/lists/<%= list._id %>/edit" class="btn btn-warning">Edit</a>
            <form class="delete-item" action="/lists/<%= list._id %>?_method=DELETE" method="POST">
                <button class="btn btn-danger">Delete</button>
            </form>
        </div>
    </h1>

    <div class="container">
        <% list.restaurants.forEach((restaurant) => { %>
            <div class="row">
                <div class="col-lg-9">
                    <a href="/restaurants/<%= restaurant._id %>">
                        <%= restaurant.name %>
                    </a>
                </div>
                <div class="col-lg-3 float-right">
                    <a href="/lists/<%= list._id %>/removeRestaurant/<%= restaurant._id %>" class="btn btn-danger">Delete</a>
                </div>
            </div>
        <% }); %>
    </div>

<% include ../partials/footer %>
