<h2>
    Ratings
    <% if (user) { %>
        <a href="<%= baseRatingLink %>/new" class="btn btn-xs btn-primary">+</a>
    <% } %>
</h2>
<% if (ratings.length) { %>
    <div class="container">
        <div class="row">
            <div class="col-lg-2">
                <h4>Date</h4>
            </div>
            <div class="col-lg-3">
                <h4>Rating</h4>
            </div>
            <div class="col-lg-7">
                <h4>Comment</h4>
            </div>
        </div>
        <% ratings.forEach((rating) => { %>
            <div class="row">
                <div class="col-lg-2">
                    <%- new Date(rating.createdAt).toLocaleDateString() %>
                </div>
                <div class="col-lg-3">
                    <%= rating.rating %>
                </div>
                <div class="col-lg-7">
                    <%= limitText(rating.comment, 30) %>
                </div>
                <div>
                    <a class="btn btn-primary float-right" href="<%= baseRatingLink %>/<%= rating._id %>">View</a> 
                </div>
            </div>
        <% }); %>
    </div>
<% } %>
