<% include ../partials/header %>

    <a href="/restaurants">Back</a>
    <h1>
        <%= restaurant.name %>
        <div class="float-right">
            <a href="/restaurants/<%= restaurant._id %>/edit" class="btn btn-warning">Edit</a>
            <form class="delete-item" action="/restaurants/<%= restaurant._id %>?_method=DELETE" method="POST">
                <button class="btn btn-danger">Delete</button>
            </form>
        </div>
    </h1>

    <div class="container">
        <% if (restaurant.website) { %>
            <h2>Website</h2>
            <div>
                <a href="<%= restaurant.website %>" target="_blank"><%= restaurant.website %></a>
            </div>
        <% } %>

        <h2>Description</h2>
        <div>
            <%= restaurant.description %>
        </div>

        <%
        const newRatingLink = `/restaurants/${restaurant._id}/ratings/new`;
        const ratings = filterUserOwned(user, restaurant.ratings); 
        %>
        <% include ../partials/ratings %>

        <h2>
            Menu Items
            <% if (user) { %>
                <a href="/restaurants/<%= restaurant._id %>/menuItems/new" class="btn btn-xs btn-primary">+</a>
            <% } %>
        </h2>
        <% 
        if (restaurant.menuItems.length) {
        %>
            <div class="row">
                <div class="col-lg-4">
                    <h4>Name</h4>
                </div>
                <div class="col-lg-2">
                    <h4>Rating</h4>
                </div>
                <div class="col-lg-6">
                    <h4>Comment</h4>
                </div>
            </div>
            <% restaurant.menuItems.forEach((menuItem) => { %>
                <div class="row">
                    <div class="col-lg-4">
                        <a href="/restaurants/<%= restaurant._id %>/menuItems/<%= menuItem._id %>"><%= menuItem.name %></a>
                    </div>
                    <div class="col-lg-1">
                        <%- averageRating(menuItem.ratings, user) %>
                    </div>
                    <div class="col-lg-1">
                        <a href="/restaurants/<%= restaurant._id %>/menuItems/<%= menuItem._id %>/ratings/new" class="btn btn-xs btn-primary">+</a>
                    </div>
                    <div class="col-lg-6">
                        <%= menuItem.description %>
                    </div>
                </div>
            <% }); %>
        <% } %>
    </div>

<% include ../partials/footer %>
