<% include ../partials/header %>

    <a href="/restaurants">Back</a>
    <h1>
        <%= restaurant.name %>
        <div class="float-right">
            <% if (lists.length) { %>
                <div class="dropdown">
                    <button onclick="toggleDropdown()" class="btn btn-success">Add to List</button>
                    <div id="listDropdown" class="dropdown-content">
                        <input type="text" placeholder="Search.." id="myInput" onkeyup="filterFunction()">
                        <% lists.forEach((list) => { %>
                            <h4><a href="/lists/<%= list._id %>/addRestaurant/<%= restaurant._id %>"><%= list.name %></a></h4>
                        <% }); %>
                    </div>
                </div>
            <% } %>
            <a href="/restaurants/<%= restaurant._id %>/edit" class="btn btn-warning">Edit</a>
            <form class="delete-item" action="/restaurants/<%= restaurant._id %>?_method=DELETE" method="POST">
                <button class="btn btn-danger">Delete</button>
            </form>
        </div>
    </h1>

    <div class="container">
        <% if (restaurant.website) { %>
            <h2>Website</h2>
            <div>
                <a href="<%= restaurant.website %>" target="_blank"><%= restaurant.website %></a>
            </div>
        <% } %>

        <h2>Description</h2>
        <div>
            <%= restaurant.description %>
        </div>

        <%
        const newRatingLink = `/restaurants/${restaurant._id}/ratings/new`;
        const ratings = filterUserOwned(user, restaurant.ratings); 
        %>
        <% include ../partials/ratings %>

        <h2>
            Menu Items
            <% if (user) { %>
                <a href="/restaurants/<%= restaurant._id %>/menuItems/new" class="btn btn-xs btn-primary">+</a>
            <% } %>
        </h2>
        <% 
        if (restaurant.menuItems.length) {
        %>
            <div class="row">
                <div class="col-lg-4">
                    <h4>Name</h4>
                </div>
                <div class="col-lg-2">
                    <h4>Rating</h4>
                </div>
                <div class="col-lg-6">
                    <h4>Comment</h4>
                </div>
            </div>
            <% restaurant.menuItems.forEach((menuItem) => { %>
                <div class="row">
                    <div class="col-lg-4">
                        <a href="/restaurants/<%= restaurant._id %>/menuItems/<%= menuItem._id %>"><%= menuItem.name %></a>
                    </div>
                    <div class="col-lg-1">
                        <%- averageRating(menuItem.ratings, user) %>
                    </div>
                    <div class="col-lg-1">
                        <a href="/restaurants/<%= restaurant._id %>/menuItems/<%= menuItem._id %>/ratings/new" class="btn btn-xs btn-primary">+</a>
                    </div>
                    <div class="col-lg-6">
                        <%= menuItem.description %>
                    </div>
                </div>
            <% }); %>
        <% } %>
    </div>

    <script>
        // When the user clicks on the button,
        // toggle between hiding and showing the dropdown content
        function toggleDropdown() {
            document.getElementById("listDropdown").classList.toggle("show");
        }

        function filterFunction() {
            var input, filter, ul, li, a, i;
            input = document.getElementById("myInput");
            filter = input.value.toUpperCase();
            div = document.getElementById("listDropdown");
            a = div.getElementsByTagName("a");
            for (i = 0; i < a.length; i++) {
                if (a[i].innerHTML.toUpperCase().indexOf(filter) > -1) {
                    a[i].style.display = "";
                } else {
                    a[i].style.display = "none";
                }
            }
        }
    </script>

<% include ../partials/footer %>
